html {
    height: 100%;

  }
  
  body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-image: url("https://img.freepik.com/free-vector/modern-flowing-colorful-wave-banner-background_1035-19861.jpg?w=2000&t=st=1686380832~exp=1686381432~hmac=7611c942322e8f371e6d3c70d61087a377db06a27cf4e42fe517602f2d66baf5");
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    color: #1e1683e0;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(43, 42, 42);
    box-shadow: 0px 4px 8px rgba(8, 55, 87, 0.2);
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav {
    background-image: linear-gradient(to right, rgb(165, 217, 249) , rgb(255, 255, 255));
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin-bottom: 20px;
  }
  
  nav a {
    color: #333333;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #0072C6;
    color: #FFFFFF;
  }
  
  main {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
  }
  
  h2 {
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    font-size: 48px;
    margin-top: 30px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0072C6;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size:16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #005EA2;
  }
  
  .redirect-button {
    background-color: #FF6600;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-family: Arial, sans-serif;
    font-size:16px;
    line-height: 1.5;
  }
  
  .redirect-button:hover {
    background-color: #CC4D00;
  }
  
  iframe {
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
  }
  
  #home-page {
    color: rgb(241, 238, 238);
    text-shadow: 2px 2px 2px rgb(47, 47, 47);
    display: none;
  }
  
  .home-page-background #home-page {
    display: block;
  }
  #home-page {
    height: 100%;
    background-image: url("https://genesishrsolutions.com/wp-content/uploads/2020/05/strategic-human-resource-management-examples-and-tools-genesishr-solutions.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: Top;
    background-color: rgba(255, 255, 255, 0.5); 
    color: rgb(241, 238, 238);
    text-shadow: 2px 2px 2px rgb(47, 47, 47);
    padding: 20px 100px;
    font-size: 24px;
  }
  
  #employees-page {
    height: 100%;
    background-image: url("hrDiagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #departments-page {
    height: 100%;
    background-image: url("hrDiagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #iframe-page {
    height: 100%;
    background-image: url("hrDiagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
